stages:
  - deploy

deploy:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  variables: 
#    CI_DEBUG_TRACE: "true"
    GIT_STRATEGY: fetch
  script:
  - rsync -a --delete $CI_PROJECT_DIR/ayso76 /mnt/mura/sites/ayso76/themes/ayso-theme