#navbarNav .nav-list li > a {
  font-size: .9em;
}
#navbarNav .nav-list li:first-of-type {
  padding-right: 6px;
}

@media screen and (max-width: 1100px){
  #navbarNav .nav-list li > a {
    font-size: 14px;
  }
  #navbarNav .nav-list li {
    padding: 0 20px 0 13px;
  }
}

