body {
  font-family: $body;
  font-size: $root;
  color: $black;
  line-height: $root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-family: $body;
  letter-spacing: 0.015em;
  line-height: 2rem;
}

p {
  font-family: $body;
  letter-spacing: 0.015em;
  line-height: 2rem;
  color: $text;
  &.small {
    font-size: 0.938em;
    line-height: 1.375rem;
    letter-spacing: 0.025em;
    color: #5b5e5f;
  }
}

.internal-entry p {
  line-height: 1.563rem;
}

h1, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.025em;
  line-height: 3.750rem;
  font-size: 2.425em;
  color: $orange;
}

h2 {
  font-size: 1.3875em;
  line-height: 1.3875rem;
  text-transform: uppercase;
  color: $orange;
  letter-spacing: 0.025em;
  font-family: $body;
  font-weight: 600;
}

h3 {
  font-family: $body;
  text-transform: uppercase;
  color: $lorange;
  letter-spacing: 0.105em;
  line-height: 2rem;
  font-size: 0.938em;
}

.internal-entry h2 {
  font-size: 1.375em;
  line-height: 1.375rem;
}