/* Colors

 */

$lorange: #fcc04d;
$black: #06121b;
$text: #1b2b34;
$darkgrey: #2d2f30;
$orange: #ef832f;
$white: #fefefe;

/* Fonts */

$body: 'Noto Sans';
$header: 'Fjalla One';

/* Root */

$root: 16px;
